.cocktail-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 5px brown;
	padding: 10px;
}
.cocktail-card h4 {
	text-align: center;
	font-size: 22px;
	color: rgb(109, 29, 29);
}
.cocktail-card img {
	width: 80%;
}